
#welcomeUser{
	color: black;
	width: 30%;
	position: fixed;
	top: 0px;
	right: 0px;
	color: #4db8ff;
	text-align: center;
	font-size: 1rem;
	padding-top: 2%;
	text-decoration: underline;
}

#background{
	width: 100%;
}

/*THANH MENU*/
.navigation{
	padding-left: 0px;
	padding-right: 0px;
	position: fixed;
	bottom: 5%;
	opacity: 0.9;
	width: 100%;
	background: black;
}

 .navigation .navbar{
 	margin: 0px;
 	padding: 2% 0px;
	background: black;
	opacity: 0.8;
 }

   .navigation .navbar-header {
  	margin-left: 3%;
  	width: 25%;
  }

  .navigation .navbar-header a{
  	font-size: 4rem;
  	padding-right: 2%;
  }

   .navigation .navbar-header a i{
  	font-size: 2rem;
  	color: white;
  }
     .navigation .navbar ul {
 	width: 70%;
 }



    .navigation .navbar ul li{
    	text-align: center;
    	margin-left: 3%;
 }

  .navigation .navbar ul li:first-child{
 	margin-left: 15%;
 }

   .navigation .navbar ul li a{
 	font-size: 1rem;
 	color: white;
 	text-align: center;
 }


   @import 'mobileIndex.css'

