.title{
	text-align: center;
	font-size: 25px;
	margin-top: 5%;
	color: #284557;
	font-weight:bold;
}
.pic{
	width: 100%;
	margin-top: 30%;
	margin-left: -55%;
}
.may .june {
	list-style: none;
}
.may .june .july{
	text-decoration: none;
}
.may .june .july .name{
	margin-top: -5%;
    color: #284557;
    font-weight: bold;
    font-weight: 500;
    font-size: 20px;
    padding-top: 20%;
}
.banner{
	width: 100%;
	margin-top: 15%;
}
.but{
	padding-top: 40%;
	float:right;
}
