.title{
	text-transform: uppercase;
	font-size: 25px;
	font-weight: bold;
	margin-top: 30px; 
}

.img{
	border-radius: 15px;
	margin-top: 20px;
	margin-bottom: 20px;
	width: 70%;
	margin-left: 10%;
}

.run1{
	font-weight: bold;
	font-size: 20px; 
	color: #695a59;
}
iframe{
	width:70%;
	margin-left: 10%;
}
.ob{
	padding-bottom: 10px;
	width: 90%;
}
