 @import 'mobileIndex.css';
 
#welcomeUser{
	color: black;
	width: 30%;
	position: fixed;
	top: 0px;
	right: 0px;
	color: #4db8ff;
	text-align: center;
	font-size: 1rem;
	padding-top: 2%;
	text-decoration: underline;
}

#background{
	width: 100%;
  /*background-image: url('img/3.jpg');*/
  /*background-size: cover;*/
}

/*THANH MENU*/
.navigation{
	padding-left: 0px;
	padding-right: 0px;
	position: fixed;
	bottom: 5%;
	width: 100%;
	background: black;
	opacity: 0.5;
}

  .navigation .navbar {
  	padding: 0px;
  }

   .navigation .navbar-header {
  	width: 35%;
  	text-align: center;
  }

  .navigation .navbar-header a{
  	font-size: 4rem;
  	margin: 0px;
  	padding: 0px 1%;
  }

 
   .navigation .navbar-header a i{
  	font-size: 1.5rem;
  	color: white;
  }

   .navigation .navbar ul {
 	width: 65%;
 	justify-content: center;
 }

    .navigation .navbar ul li{
    	text-align: center;
    	padding: 0px 1%;
 }


   .navigation .navbar ul li a{
 	font-size: 1rem;
 	color: white;
 	text-align: center;
 }

   .navigation .navbar ul li:hover a{
 	color: blue;
 }
  

  

